@model IEnumerable<TrackBug.Models.Project>
@{
    ViewData["Title"] = "My Projects";
}
<h1>My Projects</h1>
</br>
<hr />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Projects I created:</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-area="Employee" asp-controller="Project" asp-action="Upsert"><i class="bi bi-plus-circle"></i> &nbsp; Create New Project</a>
            
        </div>
        <br />
    </div>
    <div class="row pb-3">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@product.Title</h5>
                                <p class="card-text">@product.Description</p>
                                <a asp-area="Employee" asp-controller="Project" asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id" asp-route-productId="@product.Id">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         }
    </div>
</div>
