@model TrackBug.Models.Priority

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Id!=0?"Update": "Create")  Priority</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BadgeColor"></label>
                    <select asp-for="BadgeColor" class="form-control" id="selectColor">
                        <option disabled selected>--Select Color--</option>
                        <option id="#0275d8" value="badge-primary">Primary</option>
                        <option id="#5cb85c" value="badge-success">Green</option>
                        <option id="#f0ad4e" value="badge-warning">Yellow</option>
                        <option id="#d9534f" value="badge-danger">Red</option>
                        <option id="#5bc0de" value="badge-info">Light Blue</option>

                    </select>
                    <span asp-validation-for="BadgeColor" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <a asp-area="Admin" asp-controller="Priority" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            setColor();
            $('#selectColor').change(function () {
                setColor();
            });
        });

        function setColor() {
            var color = $('#selectColor').find('option:selected').attr('id');
            console.log(color);
            $('#selectColor').css('background', color);
        }


    </script>
}